@import url("https://fonts.googleapis.com/css?family=Lato");
@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Chilanka");

:root{
    --dark-navy: #020c1b;
    --navy: #10132e;
    --slate: #9aa2ca;
    --light-stale: #c1c8ec;
    --white: #e6f1ff;
    --green: #4fe0be;
    --violet: #d19ff5;
}

html{
    scroll-behavior: smooth;
}

body[data-theme="dark"]{
    font-family: "Roboto", "Lato", "Chilanka";
    background-color: var(--navy);
    color: var(--slate);
    margin: 0;
    padding: 0;
}

body[data-theme="light"]{
    background-color: var(--white);
    color: var(--dark-navy);
}

.loading-animation{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: var(--dark-navy);
    animation: loading-page 1.25s;
    animation-delay: .75s;
    animation-fill-mode: forwards;
}

.loading-animation-icon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1 !important;
    animation: loading-animation .75s;
}

.loading-animation-icon svg{
    width: 75px;
}
@keyframes loading-animation{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes loading-page{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        display: none;
        z-index: -1;
    }
}

.container{
    padding: 0 150px;
    max-width: 1400px;
    margin: 0 auto;
}

.intro, .about-me{
    height: calc(90vh - 16rem);
    padding: 8rem 0;
}

.intro-title, .about-me-title{
    font-size: clamp(40px, 8vw, 80px);
    margin: 0.5rem 0;
    color: var(--light-stale);
}
.intro-title{
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent;
    background: -webkit-linear-gradient(-70deg,#79cea4,#295c98)
}

.intro-text{
    font-size: clamp(24px, 3.5vw, 35px);
}

.intro-heading{
    color: var(--green);
}

.intro-btn{
    color: var(--green);
    background-color: transparent;
    border: 1px solid var(--green);
    border-radius: 4px;
    padding: 15px 20px;
    text-decoration: none;
    cursor: pointer;
    transition: 0.5s ;
}

.intro-btn:hover{
    border: 1px solid #50b69e;
    background-color: rgba(59,174,129,0.5);
}

.topnav{
    position: fixed;
    top: 0;
    max-height: 5rem;
    background-color: #111333;
    box-shadow: 0 4px 2px -2px var(--navy);
    width: 100%;
    opacity: .8;
}

.topnav-main{
    margin: 1rem;
}
.topnav-logo{
    width: 2rem;
    float: left;
    margin-top: -.3rem;
}
.topnav-name{
    padding-top: 0.1rem;
    float: left;
    font-size: 1.2rem;
    margin: 0 0.8rem 0.8rem 0.8rem;
    vertical-align: middle;
    font-family: "Chilanka";
    text-shadow: 1px 1px 1px rgba(230, 241, 255, .5);
    color: inherit;
    text-decoration: none;
}

.topnav-menu{
    float: right;
}
.topnav-exit-menu{
    display: none;
}

.topnav-menu a{
    margin: 0 1.25rem;
    text-decoration: none;
    color: var(--slate);
    transition: .5s;
}
.topnav-menu a:hover{
    color: var(--light-stale);
}

.topnav-ham{
    float: right;
    font-size: 1.5rem;
    margin: -.5rem 1rem .5rem 0;
    display: none;
}

.about-me{
    max-width: 700px;
    margin: 0 auto;
}

.about-me-title{
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent;
    background: -webkit-linear-gradient(-70deg,#db469f,#2188ff)
}

.about-me-content{
    float: left;
    width: 70%;
    font-size: 1.3rem;
    text-align: justify;
}

.about-me-text{
    color: var(--violet);
}

.about-me-pp{
    float: left;
    width: calc(30% - 40px);
    padding: 3rem 20px;
    position: relative;
}

.about-me-pp img{
    width: 100%;
}
.about-me-pp::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    margin: 50px 20px;
    width: calc(100% - 30px);
    height: calc(100% - 90px);
    z-index: -1;
    box-sizing: border-box;
    border: 5px solid var(--slate);
    transform: translate(10px, 10px);
    transition: transform 150ms;
}
.about-me-pp:hover::before{
    transform: translate(5px, 5px);
}

@media only screen and (max-width: 1080px){
    .container{
        padding: 0 100px !important;
    }
}

@media only screen and (max-width: 768px){
    .container{
        padding: 0 50px !important;
    }
    .topnav-ham{
        display: block !important;
    }
    .topnav-menu{
        position: fixed;
        top: 0;
        left: 0;
        width: 0vw;
        overflow: hidden;
        height: 100vh;
        transition: .8s;
        background-color: var(--dark-navy);
        z-index: 3;
    }
    .topnav-menu a:first-of-type{
        margin-top: calc(50vh - 5.3rem);
    }
    .topnav-menu a{
        text-align: center;
        font-size: 1.3rem;
        margin: 3rem;
        color: var(--green);
    }
    .topnav-exit-menu{
        display: block !important;
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 2rem;
        cursor: pointer;
    }
    .topnav-menu a{
        display: block;
    }
}

@media only screen and (max-width: 480px){
    .container{
        padding: 0 25px !important;
    }
    .about-me-content{
        width: 100%;
    }
    .about-me-pp{
        padding: 40px;
        width: -webkit-fill-available;
    }
    .about-me-pp::before{
        margin: 60px !important;
        width: calc(100% - 80px);
        height: calc(100% - 80px);
        transform: translate(5px, 5px);
    }
    .about-me-pp:hover::before{
        transform: translate(2px, 2px);
    }
}